DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ALLOW_ALL_ORIGINS=false
CORS_ALLOWED_ORIGINS=http://localhost:3000
JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7
API_PAGE_SIZE=20
DJANGO_TIME_ZONE=UTC
PAYMOB_API_KEY=
PAYMOB_INTEGRATION_ID=0
PAYMOB_HMAC_SECRET=
COMMISSION_AMOUNT=20
